/* Declare variable css*/
:root {
    --primary-color: #ffd93a;
    --primary-color-rgba: rgba(255, 212, 36, 0.9);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --yellow-color: #d8ee14;
    --border-color: #dbdbdb;
    --star-gold-color: #e9ec1a;
    --header-height: 120px;
    --header-navbar: 26px;
    --header-with-search: calc(var(--header-height) - var(--header-navbar));
    --header__sort-height: 42px;
}

* {
    /* extend from tag contain it */
    	padding: 0px;
	margin: 0 auto;
	box-sizing: border-box;
}

html {

    font-size: 70%;

    line-height: 1.6rem;
    box-sizing: border-box;
} 
.body{
	font-size: 16px !important;
}
/* Reponsive */

.app {
    overflow: hidden;
}
.fs13 {
    font-size: 1.3rem !important;
}
.fs14 {
    font-size: 1.4rem !important;
}
.fs15 {
    font-size: 1.5rem !important;
}
.fs16 {
    font-size: 1.6rem !important;
}
.text-deco{
	text-decoration: none !important;
	color: black !important;
}
.opacity05:hover{
	opacity: 0.8;
}
/* Animation */
/* Cho phep tao ra nhung thang chuyen dong */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: var(--growth-from);
    }

    to {
        transform: var(--growth-to);
    }
}

.org {
    color: var(--orange-color);
}

.r {
    color: var(--red-color);
}

.yl {
    color: var(--yellow-color);
}

/* Modal Layout*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    position: relative;
    animation: growth linear 0.1s;
}

/* Pagination */
.pagination {
    margin: 48px 0 30px 0;
    padding: 0;
}

.home_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.home_pagination-item {
    margin: 0 8px;
}

.home_pagination-link {
    --height: 30px;
    text-decoration: none;
    color: #939393;
    font-size: 2rem;
    font-weight: 400;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 3px;
}

.home_pagination-item-active .home_pagination-link {
    background-color: var(--primary-color);
}

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer_list {
    padding-left: 0;
    list-style: none;
}

.footer_item {}

.footer_item-link {
    text-decoration: none;
    color: #737373;
    font-size: 1.4rem;
    font-weight: 500;
    display: block;
    padding: 4px 0;
}

.footer_item-icon {
    font-size: 1.8rem;
    padding-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download_qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-store {
    height: 20px;

}

.footer__download-google-play {
    height: 20px;

}

.footer__download-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    background-color: #ece9e9;
    padding: 8px 0;
    margin: 12px 0 0 0;
}

.footer__text {
    font-size: 1.4rem;
    text-align: center;
}

.ml-24 {
    margin-left: 2.4rem;
}